%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid.home_navbar
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.pull-left#logo.navbar-brand{:href => root_path} The Hunger Terminal
    #bs-example-navbar-collapse-1.collapse.navbar-collapse    
      %ul.nav.navbar-nav
        -if user_signed_in?  && current_user.role == "company_admin"
          %li
            %a{:href => "/companies/#{current_user.company_id}/users"}
              .name Employee
          
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => admin_dashboard_index_path}
              .name Today's Orders 
            %ul.dropdown-menu
              %li
                %a{href: admin_dashboard_index_path} Vendor wise Orders
              %li
                %a{href: employees_daily_order_detail_path }Employee wise Orders
              %li
                %a{href: admin_dashboard_input_terminal_extra_charges_path} Add Extra charges
          / %div.icon
          /   %a{:href => reports_index_path}
          /     %span.glyphicon.glyphicon-file.gly
          /     .name.text-center Empolyees Report
          
          / %div.icon
          /   %a{:href => reports_all_terminals_daily_report_path}
          /     %span.glyphicon.glyphicon-cutlery.gly
          / /     .name.text-center Terminals Report

          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown",:href => ""}
              .name Employees Report
            %ul.dropdown-menu
              %li
                %a{ :href => employees_todays_orders_path } Todays Report
              %li
                %a{ :href => monthly_all_employees_reports_path } Last Month Report
              %li
                %a{ :href => reports_index_path } Current Balance

          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown",:href => ""}
              .name Terminals Report
            %ul.dropdown-menu
              %li
                %a{ :href => all_terminals_daily_report_path } Todays Report
              %li
                %a{ :href => all_terminals_last_month_reports_path } Last Month Report
              %li
                %a{ :href => admin_dashboard_payment_path } Running Balance
          %li   
            %a{:href => "/companies/#{current_user.company_id}/terminals"}
              .name Terminal
          
          %li
            %a{ :href => admin_dashboard_payment_path }
              .name Payment

      %ul.nav.navbar-nav.navbar-right.home
        %li
          -if user_signed_in? && current_user.role == "company_admin" 
            %a{:href => get_order_details_company_path(current_user.company_id)}
              Set Order details 
            %span.sr-only (current)
        -if user_signed_in?    
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              My Order
            %ul.dropdown-menu
              %li
                %a{:href => vendors_path} Place Order
              -if user_signed_in? && current_user.orders.find_by(date: Time.zone.today)
                %li
                  - order_id = current_user.orders.find_by(date: Time.zone.today).id
                  - terminal_id = current_user.orders.find_by(date: Time.zone.today).terminal.id
                  %a{:href => terminal_order_path(terminal_id,order_id)} Today's Order          
              %li
                %a{:href => orders_path} Order history          
        %li
          - if !user_signed_in?
            = link_to new_user_session_path do
              %span.glyphicon.glyphicon-log-in
              Login
          - else
            = link_to destroy_user_session_path, method: :delete do
              %span.glyphicon.glyphicon-log-out
              Logout
        
            