// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.employees_report_table
{
  margin: 0 auto;
}


.terminals_report_table
{
  margin: 0 auto;
}

@media print {
  body {
    background-color: #FFF;
  }

  nav.sidenav{
    display: none;
  }

  #backButton{
    display: none;
  }

  a.btn.btn-info{
    display: none;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  #line_items {
    page-break-before: always;
  }
  
  #pdf_link {
    display: none;
  }

}